<div class="">
  <div class="header-main">
    <div class="container">
      <div class="brand-logo">
        <a routerLink="/landing"> <img src="../assets/images/Categories/logo.png"></a>
      </div>
    </div>
  </div>

  <!-----Navigation Starts Here-->

  <nav class="navbar navbar-expand-sm navbar-light bg1">
    <div class="container">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse  drag" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item poi">
            <a class="nav-link" routerLink="/pricelist">Price List <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item poi">
            <a class="nav-link" routerLink="/pickup">Book a Pickup</a>
          </li>
          <li class="nav-item poi">
            <a class="nav-link" routerLink="/associate">Associates</a>
          </li>
          <li class="nav-item poi">
            <a class="nav-link" routerLink="/myaccount"> My Account</a>
          </li>

          <li class="nav-item poi">
            <a class="nav-link">Help</a>
          </li>
          <li class="nav-item poi border-left">
            <a class="nav-link rotate"><i class="fa fa-phone"></i></a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <!-----Background image-->

  <!-- body content starts here-->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Did you Know?</h1>
      </div>
    </div>

    <div class="clearfix content-box">
      <img class="img-thumbnail float-left content-des-txt" src="../../assets/pngs/content.png">

      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
        including versions of Lorem Ipsum.
      </p>
    </div>


    <div class="clearfix content-box">
      <img class="img-thumbnail float-right content-des-txt" src="../../assets/pngs/content.png">

      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
        make a type specimen book. It has survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
        including versions of Lorem Ipsum.
      </p>
    </div>

  </div>

  <!-- body content ends here-->

  <!----------------footer----------------->

  <footer class="section footer-classic context-dark bg-image bg">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-3 foot ">

          <h5>Associates</h5>

          <ul class="foot-links">
            <li>Scrap Dealer</li>
            <li>Aggregator</li>
            <li>Recycler</li>
          </ul>


        </div>

        <div class="col-sm-3 foot">
          <h5>Service</h5>

          <ul class="foot-links">
            <li>Home</li>
            <li>Shop/Mall</li>
            <li>Institutions</li>
            <li>Banks</li>
            <li>Corporate Office</li>
            <li>Other Business</li>
          </ul>


        </div>


        <div class="col-md-6 ">

          <ul class="nav-list list float-right">
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">FAQ's</a></li>
          </ul>

          <div class="foot-com">
            <h6>Reboxit Pvt. Ltd.</h6>
            <ul class="nav-list list float-right">
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>

            </ul>
          </div>
        </div>
      </div>
      <div class="row footer-lower justify-content-md-center">

        <div class="col-md-6">
          <ul class="nav-list list">
            <li class="pi-right"><a href="#"> <img src="../../assets/pngs/instagarm.png" /> </a></li>
            <li class="pi"><a href="#"><img src="../../assets/pngs/facebook.png" /></a></li>
            <li class="pi"><a href="#"> <img src="../../assets/pngs/linkdin.png" /></a></li>
            <li class="pi-right txt-rght"><a href="">Follow Us</a></li>

          </ul>
        </div>


      </div>
    </div>
  </footer>
</div>