<div class="">
  <div class="header-main">
    <div class="container">
      <div class="brand-logo">
        <a routerLink="/landing"> <img src="../assets/images/Categories/logo.png"></a>
      </div>
    </div>
  </div>
  <!-----Navigation Starts Here-------------------->

  <nav class="navbar navbar-expand-sm navbar-light bg1">
    <div class="container">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse  drag" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item poi">
            <a class="nav-link" routerLink="/pricelist">Price List <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item poi">
            <a class="nav-link" routerLink="/pickup">Book a Pickup</a>
          </li>
          <li class="nav-item poi">
            <a class="nav-link" routerLink="/associate">Associates</a>
          </li>
          <li class="nav-item poi active">
            <a class="nav-link" routerLink="/myaccount"> My Account</a>
          </li>

          <li class="nav-item poi">
            <a class="nav-link">Help</a>
          </li>
          <li class="nav-item poi border-left">
            <a class="nav-link rotate"><i class="fa fa-phone"></i></a>
          </li>
        </ul>

      </div>
    </div>
  </nav>


  <!--------My account starts-->


  <div class="body-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 sec">
          <h3>Personal Info:</h3>

          <ul class="personal-info">
            <li>
              <label>Name:</label>
              Pranavi
            </li>

            <li>
              <label>Address:</label>
              1-5-286/2/4/55
            </li>

            <li>
              <label>Phone No:</label>
              +91 -9705996615
            </li>


          </ul>

          <p class="float-right"><a href="#">Edit</a></p>

        </div>
        <div class="col-md-6" id="accordion-style-1">

          <h4 _ngcontent-c1="" class="text-center text-capitalize">Present Order</h4>

          <section>
            <div class="row">

              <div class="col-md-12 mx-auto">
                <div class="accordion" id="accordionPresent">

                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <div class="collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false"
                        aria-controls="collapse1">
                        <label class="bordered">Slot: 02-12-2019</label>
                        <label class="bordered">Quantity: 9Kg</label>
                        <label>Price: Rs 45/-</label>
                        <label class="last">View</label>
                      </div>
                    </div>

                    <div id="collapse1" class="collapse  fade" aria-labelledby="headingOne" data-parent="#accordionPresent">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-9">
                            <div class="table-responsive">
                              <table class="table borderless">
                                <thead>
                                  <th>
                                    <h5>Paper</h5>
                                  </th>
                                </thead>

                                <tbody>
                                  <tr>
                                    <td>Bottle</td>
                                    <td>5</td>
                                    <td>35.00</td>
                                  </tr>
                                  <tr>
                                    <td>Copper</td>
                                    <td>10</td>
                                    <td>25.00</td>
                                  </tr>
                                  <tr>
                                    <td>Pet Bottles</td>
                                    <td>2</td>
                                    <td>15.00</td>
                                  </tr>
                                  <tr>
                                    <td>Tetra packs</td>
                                    <td>5</td>
                                    <td>48.00</td>
                                  </tr>
                                  <tr>
                                    <td>News Papers</td>
                                    <td>7</td>
                                    <td>56.00</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="download">
                              <p><i class="fa fa-download" aria-hidden="true"></i></p>
                              <p class="download-txt">Download Certificate</p>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <div class="collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
                        aria-controls="collapse2">
                        <label class="bordered">Slot: 02-12-2019</label>
                        <label class="bordered">Quantity: 9Kg</label>
                        <label>Price: Rs 45/-</label>
                        <label class="last">View</label>
                      </div>
                    </div>

                    <div id="collapse2" class="collapse  fade" aria-labelledby="headingOne" data-parent="#accordionPresent">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-9">
                            <div class="table-responsive">
                              <table class="table borderless">
                                <thead>
                                  <th>
                                    <h5>Paper</h5>
                                  </th>
                                </thead>

                                <tbody>
                                  <tr>
                                    <td>Bottle</td>
                                    <td>5</td>
                                    <td>35.00</td>
                                  </tr>
                                  <tr>
                                    <td>Copper</td>
                                    <td>10</td>
                                    <td>25.00</td>
                                  </tr>
                                  <tr>
                                    <td>Pet Bottles</td>
                                    <td>2</td>
                                    <td>15.00</td>
                                  </tr>
                                  <tr>
                                    <td>Tetra packs</td>
                                    <td>5</td>
                                    <td>48.00</td>
                                  </tr>
                                  <tr>
                                    <td>News Papers</td>
                                    <td>7</td>
                                    <td>56.00</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="download">
                              <p><i class="fa fa-download" aria-hidden="true"></i></p>
                              <p class="download-txt">Download Certificate</p>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <div class="collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false"
                        aria-controls="collapse3">
                        <label class="bordered">Slot: 02-12-2019</label>
                        <label class="bordered">Quantity: 9Kg</label>
                        <label>Price: Rs 45/-</label>
                        <label class="last">View</label>
                      </div>
                    </div>

                    <div id="collapse3" class="collapse  fade" aria-labelledby="headingOne" data-parent="#accordionPresent">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-9">
                            <div class="table-responsive">
                              <table class="table borderless">
                                <thead>
                                  <th>
                                    <h5>Paper</h5>
                                  </th>
                                </thead>

                                <tbody>
                                  <tr>
                                    <td>Bottle</td>
                                    <td>5</td>
                                    <td>35.00</td>
                                  </tr>
                                  <tr>
                                    <td>Copper</td>
                                    <td>10</td>
                                    <td>25.00</td>
                                  </tr>
                                  <tr>
                                    <td>Pet Bottles</td>
                                    <td>2</td>
                                    <td>15.00</td>
                                  </tr>
                                  <tr>
                                    <td>Tetra packs</td>
                                    <td>5</td>
                                    <td>48.00</td>
                                  </tr>
                                  <tr>
                                    <td>News Papers</td>
                                    <td>7</td>
                                    <td>56.00</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="download">
                              <p><i class="fa fa-download" aria-hidden="true"></i></p>
                              <p class="download-txt">Download Certificate</p>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>




                </div>
              </div>
            </div>
          </section><!-- present sectin ends here-->



          <h4 _ngcontent-c1="" class="text-center text-capitalize">Previous Order</h4>

          <section>
            <div class="row">

              <div class="col-md-12 mx-auto">
                <div class="accordion" id="accordionPrevious">

                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <div class="collapsed" data-toggle="collapse" data-target="#previouscollapse1" aria-expanded="false"
                        aria-controls="previouscollapse1">
                        <label class="bordered">Slot: 02-12-2019</label>
                        <label class="bordered">Quantity: 9Kg</label>
                        <label>Price: Rs 45/-</label>
                        <label class="last">View</label>
                      </div>
                    </div>

                    <div id="previouscollapse1" class="collapse  fade" aria-labelledby="headingOne" data-parent="#accordionPrevious">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-9">
                            <div class="table-responsive">
                              <table class="table borderless">
                                <thead>
                                  <th>
                                    <h5>Paper</h5>
                                  </th>
                                </thead>

                                <tbody>
                                  <tr>
                                    <td>Bottle</td>
                                    <td>5</td>
                                    <td>35.00</td>
                                  </tr>
                                  <tr>
                                    <td>Copper</td>
                                    <td>10</td>
                                    <td>25.00</td>
                                  </tr>
                                  <tr>
                                    <td>Pet Bottles</td>
                                    <td>2</td>
                                    <td>15.00</td>
                                  </tr>
                                  <tr>
                                    <td>Tetra packs</td>
                                    <td>5</td>
                                    <td>48.00</td>
                                  </tr>
                                  <tr>
                                    <td>News Papers</td>
                                    <td>7</td>
                                    <td>56.00</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="download">
                              <p><i class="fa fa-download" aria-hidden="true"></i></p>
                              <p class="download-txt">Download Certificate</p>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <div class="collapsed" data-toggle="collapse" data-target="#previouscollapse2" aria-expanded="false"
                        aria-controls="previouscollapse2">
                        <label class="bordered">Slot: 02-12-2019</label>
                        <label class="bordered">Quantity: 9Kg</label>
                        <label>Price: Rs 45/-</label>
                        <label class="last">View</label>
                      </div>
                    </div>

                    <div id="previouscollapse2" class="collapse  fade" aria-labelledby="headingOne" data-parent="#accordionPrevious">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-9">
                            <div class="table-responsive">
                              <table class="table borderless">
                                <thead>
                                  <th>
                                    <h5>Paper</h5>
                                  </th>
                                </thead>

                                <tbody>
                                  <tr>
                                    <td>Bottle</td>
                                    <td>5</td>
                                    <td>35.00</td>
                                  </tr>
                                  <tr>
                                    <td>Copper</td>
                                    <td>10</td>
                                    <td>25.00</td>
                                  </tr>
                                  <tr>
                                    <td>Pet Bottles</td>
                                    <td>2</td>
                                    <td>15.00</td>
                                  </tr>
                                  <tr>
                                    <td>Tetra packs</td>
                                    <td>5</td>
                                    <td>48.00</td>
                                  </tr>
                                  <tr>
                                    <td>News Papers</td>
                                    <td>7</td>
                                    <td>56.00</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="download">
                              <p><i class="fa fa-download" aria-hidden="true"></i></p>
                              <p class="download-txt">Download Certificate</p>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <div class="collapsed" data-toggle="collapse" data-target="#previouscollapse3" aria-expanded="false"
                        aria-controls="previouscollapse3">
                        <label class="bordered">Slot: 02-12-2019</label>
                        <label class="bordered">Quantity: 9Kg</label>
                        <label>Price: Rs 45/-</label>
                        <label class="last">View</label>
                      </div>
                    </div>

                    <div id="previouscollapse3" class="collapse  fade" aria-labelledby="headingOne" data-parent="#accordionPrevious">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-9">
                            <div class="table-responsive">
                              <table class="table borderless">
                                <thead>
                                  <th>
                                    <h5>Paper</h5>
                                  </th>
                                </thead>

                                <tbody>
                                  <tr>
                                    <td>Bottle</td>
                                    <td>5</td>
                                    <td>35.00</td>
                                  </tr>
                                  <tr>
                                    <td>Copper</td>
                                    <td>10</td>
                                    <td>25.00</td>
                                  </tr>
                                  <tr>
                                    <td>Pet Bottles</td>
                                    <td>2</td>
                                    <td>15.00</td>
                                  </tr>
                                  <tr>
                                    <td>Tetra packs</td>
                                    <td>5</td>
                                    <td>48.00</td>
                                  </tr>
                                  <tr>
                                    <td>News Papers</td>
                                    <td>7</td>
                                    <td>56.00</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="download">
                              <p><i class="fa fa-download" aria-hidden="true"></i></p>
                              <p class="download-txt">Download Certificate</p>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>




                </div>
              </div>
            </div>
          </section>
          <!--sectin ends here-->

        </div>
        <!--Right section starts here-->
        <div class="col-md-3 sec text-center">
          <h5>Trees Saved</h5>
          <p class="count">501</p>
          <span class="tree-img"></span>
          <span class="tree-img"></span>
          <span class="tree-img"></span>
          <span class="tree-img"></span>
        </div>
        <!--Right section ends here-->
      </div>
    </div>
  </div>




</div>