<div class="">
  <div class="header-main">
    <div class="container">
      <div class="brand-logo">
        <a routerLink="/landing"> <img src="../assets/images/Categories/logo.png"></a>
      </div>
    </div>
  </div>

  <!-----Navigation Starts Here-->

  <nav class="navbar navbar-expand-sm navbar-light bg1">
    <div class="container">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse  drag" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item poi active">
            <a class="nav-link" routerLink="/pricelist">Price List </a>
          </li>
          <li class="nav-item poi">
            <a class="nav-link" routerLink="/pickup">Book a Pickup</a>
          </li>
          <li class="nav-item poi">
            <a class="nav-link" routerLink="/associate">Associates</a>
          </li>
          <li class="nav-item poi">
            <a class="nav-link" routerLink="/myaccount"> My Account</a>
          </li>

          <li class="nav-item poi">
            <a class="nav-link">Help</a>
          </li>
          <li class="nav-item poi border-left">
            <a class="nav-link rotate"><i class="fa fa-phone"></i></a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <!-----Background image-->

  <!-- body content starts here-->
  <div class="box-container-main">


    <div class="container">
      <div class="box-container">

        <div class="row">
          <div class="col-md-12">
            <h1>Reboxit Scrap Prices</h1>
          </div>
        </div>



        <div class="row">

          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="../assets/pngs/carton_boxes.png" />
                  <div class="caption">
                      <p><span class="cpt-head">Carton Boxes</span>
                      <span class="cpt-sm">Rs 10 per KG</span>
                      </p>
                  </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="../assets/pngs/newspapers_magazines.png" />
                  <div class="caption">
                      <p><span class="cpt-head">Newspapers & Magazines</span>
                      <span class="cpt-sm">Rs 10 per KG</span>
                      </p>
                  </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="../assets/pngs/tetra_pack.png" />
                  <div class="caption">
                      <p><span class="cpt-head">Tera Packs</span>
                      <span class="cpt-sm">Rs 10 per KG</span>
                      </p>
                  </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="../assets/pngs/text_books.png" />
                  <div class="caption">
                      <p><span class="cpt-head">Text Books & Note Books</span>
                      <span class="cpt-sm">Rs 10 per KG</span>
                      </p>
                  </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="thumbnail">
                  <img src="../assets/pngs/other_bits_pieces.png" />
                  <div class="caption">
                      <p><span class="cpt-head">Other Bits & Pieces</span>
                      <span class="cpt-sm">Rs 10 per KG</span>
                      </p>
                  </div>
              </div>
          </div>


        </div>





      </div>

    </div>

  </div>

  <!-- body content ends here-->


</div>